body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif; 
	font-size: 16px;
	line-height: 1;
}


/*-----------------------------

			HEADER

-----------------------------*/


h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}

h1 .lg {
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	display: block;
	letter-spacing: -3px;
}

h1 .sm {
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
}

h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

h2 {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
}

p {
	line-height: 28px;
}

.hr {
	height: 2px;
	margin: 120px 0;
	background: #e6e6e6;
}


/*-----------------------------

			BUTTONS

-----------------------------*/


.btn {

	display: inline-block;
	vertical-align: middle;
	height: 42px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 11px 36px 0;
	text-decoration: none;
	transition: all 0.3s;
}

.btn:hover{
	background-color: #f39c12;
	color: #fff;
	border: 2px solid #f39c12; 
	text-decoration: none;
}

.btn--warning {
	color: #0d0d0d;
	border-color: #f39c12;
	font-size: 14px;
}

input.btn, button.btn {
	padding-top: 0 !important;
}

/*-----------------------------

			FORM

-----------------------------*/


.form-field {
	position: relative;
	margin-bottom: 10px;
}

.form-field__icon {
	position: absolute;
	top: 15px;
	right: 30px;
	color: #808080;
	font-size: #fff;
	width: 20px;
	text-align: center;
}

.form-field__icon .icon-mail {
	font-size: 12px;
}

.icon-user2:before {
	color: #808080;
}

.form-control {
	width: 100%;
	display: block;
	padding: 0 70px 0 25px;
	height: 45px;
	border: 2px solid #d9d9d9;
	background-color: #ffffff;
	color: #808080;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	transition: all 0.3s;
}

.form-control:focus {
	border-color: #f39c12;
}

.form-control:focus + .form-field__icon span:before {
	color: #f39c12;
}

textarea.form-control {
	min-height: 125px;
	resize: none;
	padding-top: 10px;
}






header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;
}

.wrapper {
	max-width: 1250px;
	margin: 0 auto;	
	padding: 0 40px;
	width: 100%;
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between; /* прижимает левый блок в левую сторону, а правый - в правую строну */
}

.logo a {
	display: flex;
	align-items: center; 		/* для вертикального выравнивания */
	justify-content: center;	/* для горизонтального выравнивания */
	height: 150px;
	width: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
	color: #fff;
}

.menu {
	list-style: none;
	display: flex;
}

.menu__item {
	margin-left: 90px;
	position: relative;
}

.menu__item:after {
	content: '\\\\';
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	position: absolute;
	left: 100%;
	margin-left: 40px;
	top: 0;
}

.menu__item:last-child:after {
	display: none;
}

.menu__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
}

.menu__link:hover {
	color: #0d0d0d;
}


/*--- BANNER ---*/


.banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
	height: calc(100vh + 100px);
	overflow: hidden;
	text-align: center;
	background: url("../img/banner.png") no-repeat center top;
	background-size: cover;
}



/*-----------------------------

			ABOUT

-----------------------------*/


.heading {
	display: flex;
	align-items: center;
	margin: 0 auto 150px;
}

.heading h2 {
	width: 200px;
	flex: none;
	text-align: right;
	position: relative;
	margin-right: 40px;
}

.heading h2:after {
	content: "";
	display: block;
	width: 4px;
	height: 45px;
	background-color: #f39c12;
	position: absolute;
	top: 50%;
	left: 100%;
	margin-left: 19px;
	margin-top: -22px;
}


.heading p {
	flex: 1;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}


/*-----------------------------

			OUR STORY

-----------------------------*/


.about-wrap {
	display: flex;
	align-items: flex-start;
}

.about-wrap-content {
	display: flex;
	align-items: flex-start;
	flex: 1;
}

.about-wrap-content__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	height: 125px;
	flex: none;
	margin-right: 29px;
	border: 2px solid #f39c12;
	border-radius: 50%; 
	background-color: #fff;
	font-size: 40px;
	color: #0d0d0d;
}

.about-wrap-content__text h6 {
	margin-bottom: 20px;
}

 .about-wrap-content__text .about-text {
	color: #e74c3c;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 25px;
}

.about-wrap-content__text p {
	font-weight: 400;
	line-height: 28px;
	color: #737373;
	font-size: 16px;
}

.about-wrap-img{
	position: relative;
	margin-left: 60px;
}

.about-wrap-img__icon {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*-----------------------------

			OUR SKILLS

-----------------------------*/


.box-skills {
	display: flex;
}

.box-skills__item{
	width: 50%;
}

.box-skills__item--img img {
	display: inline-block;
	max-width: 100%;
}

.box-skills__item--img {
	padding-right: 45px;
	text-align: right;
}

.box-skills__item--content {
	padding-left: 42px;
}


/*-----------------------------

			BARS

-----------------------------*/


.box-bars {
	margin-top: 60px;
}

.bars {
	margin-bottom: 35px;
}

.bars-title {
	color: #0d0d0d;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.bars-title .percent {
	font-weight: 300;
}

.bars-title .symbol {
	font-weight: 600;
	color: #bfbfbf;
}

.bars-line {
	height: 10px;
	background-color: #e7e7e7;
}

.bars-line > div {
	height: 10px;
	background-color: #f39c12;
}


/*-----------------------------

			QUOTES

-----------------------------*/


.section {
	padding: 105px 0 100px;
}

.section-bg {
	background: url(../img/quote-bg.png) no-repeat center top;
	background-size: cover;
	height: 700px;
	display: flex;
	align-items: center;
}

.quote {
	text-align: center;
	color: #fff;
}

.quote__text {
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	position: relative;
	padding: 0 60px;
	margin-bottom: 33px;
}

.quote__text:after, .quote__text:before {
	content: '"';
	display: block;
	font-family: "Open Sans";
	font-size: 110px;
	font-weight: 700;
	line-height: 60px;
	font-style: italic;
	position: absolute;
	top: 0;
}

.quote__text:before {
	left: 0;
}

.quote__text:after {
	right: 0;
}

.quote__author {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.quote__author:before {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	border-bottom: 4px solid #f39c12;
	margin: 0 auto 20px;
}


/*-----------------------------

			TEAM

-----------------------------*/


.team-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team-list__item {
	display: flex;
	flex-direction: column;
	width: 269px;
	padding: 25px 15px 30px;
	border-top: 4px solid transparent;
	text-align: center;

}

.team-list__item:hover {
	background: #f0f0f0; 
	border-color: #f39c12;
}

.team-list__item:hover .team-list__job:after {
	background-color: #e74c3c;
}

.team-list__item .social {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex: 1;
	height: 100%;
}

.team-list__img {
	display: flex;
	flex: none;
	background-color: #e8f8f4;
	width: 200px;
	height: 200px;
	border: 6px solid #f2f2f2;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-size: 63px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 25px;
}

.team-list__img:after {
	content: "";
	display: block;
	position: absolute;
	width: 202px;
	height: 202px;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
}

.team-list__img img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.team-list__job {
	color: #999999;
	font-family: "Lato", Arial, sans-serif; 
	font-size: 15px;
	font-weight: 400;
}

.team-list__job:after {
	content: "";
	display: block;
	margin: 10px auto 15px;
	width: 20px;
	height: 4px;
	background-color: #cccccc;
}

.team-list__item p {
	font-size: 16px;
	line-height: 28px;
	color: #595959;
	margin-bottom: 25px;
}

.social__link {
	font-size: 18px;
	color: #999999;
	padding: 0 7px;
	display: inline-block;
	vertical-align: middle;
}

.social__link:hover {
	color: #f39c12;
}


/*-----------------------------

			FACTs-LIST

-----------------------------*/


.facts-list {
	display: flex;
	justify-content: space-between;
}

.fact-list__item h5 {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	color: #fff;
}

.fact-list__item span {
	display: block;
	font-size: 45px;
	line-height: 50px;
}

.fact-list__item:hover .fact-list__icon{
	border-color: #fff;
}

.fact-list__item:hover .fact-list__icon [class*="icon"]:before{
	color: #f39c12;
}

.fact-list__icon {
	display: flex;
	width: 170px;
	height: 170px;
	margin-bottom: 28px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	transition: all 0.3s;
}

.fact-list__icon [class*="icon"]:before {
	color: #fff;
	transition: all 0.3s;
}


/*-----------------------------

			SERVICE

-----------------------------*/


.service-list {
	display: flex;
	text-align: center;
	margin: 0 -15px;
}

.service-list__item {
	padding: 0 10px;
}

.service-list__item:hover .service-list__icon{
	background-color: #f39c12;
}

.service-list__item:hover .service-list__icon [class*="icon"]:before {
	color: #fff;
}

.service-list__icon {
	display: flex;
	width: 105px;
	height: 105px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin: 0 auto 30px;
	font-size: 27px;
	transition: all 0.3s;
}

.service-list__icon [class*="icon"]:before {
	color: #0d0d0d;
	transition: all 0.3s;
}

.service-list__item h6 {
	margin-bottom: 22px;
}

.service-list__item p {
	font-size: 16px;
	line-height: 28px;
	color: #737373;
}

.box-pricing {
	display: flex;

}

.box-pricing .service-list__icon{
	margin-left: 0;
	height: 125px;
	width: 125px;
	font-size: 32px;	
}

.pricing {
	display: flex;
	text-align: center;
	align-items: flex-start;
	margin-left: 7%;
}

.pricing__item {
	border: 1px solid #e6e6e6;
	width: 250px;
}

.pricing__item:first-child {
	margin-top: 15px;
	border-right: none;
}

.pricing__item:last-child {
	margin-top: 15px;
	border-left: none;
}

.pricing__item.active {
	border-left: none;
	border-right: none;
	border-top: 16px solid #f39c12;
	border-bottom: 11px solid #e6e6e6;
	background: #f2f2f2;
}

.pricing-header {
	padding: 25px 28px;
}

.pricing__item.active .pricing-header {
	background: #f39c12;
}

.pricing-header__title {
	color: #0d0d0d;
	font-size: 22px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.pricing__item.active .pricing-header__title {
	color: #fff;
}

.pricing-header__title span:before {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #f39c12;
	margin: 5px auto;
}

.pricing__item.active .pricing-header__title span:before {
	background-color: #fff;
}

.pricing-list {
	list-style-type: none;
}

.pricing-list li {
	color: #737373;
	font-size: 15px;
	line-height: 18px;
	border-top: 1px solid #e6e6e6;
	padding: 15px;
}

.pricing-list li:last-child {
	border-bottom: 1px solid #e6e6e6;
}

.pricing-list li:nth-child(odd) {
	background: #fafafa;	
}

.pricing__item.active .pricing-list li:nth-child(odd) {
	background: #e6e6e6;	
}

.pricing-footer {
	padding: 34px 28px;
}

.pricing__item.active .pricing-footer {
	background: #e6e6e6;
}

.pricing-footer .btn {
	height: 38px;
	padding-top: 9px 33px 0;
}


/*-----------------------------

			TESTIMONAIL

-----------------------------*/

.testimonial {
	text-align: center;
	color: #ffffff;
}

.testimonial .quote__author{
	font-size: 24px;
	font-weight: 700;
	line-height: 60px;
}

.testimonial .quote__author:before {
	display: none;
}

.testimonial .quote__author:after {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	border-bottom: 4px solid #f39c12;
	margin: 20px auto 0;
}

.testimonial__text {
	margin: 38px 0 29px;
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	line-height: 30px;
	font-family: "Open Sans Light";
}

.testimonial__avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}

.testimonial__avatar img {
	display: block;
	width: 100%;
}


/*-----------------------------

			PORTFOLIO

-----------------------------*/


.nav-tab-list {
	list-style-type: none;
	text-align: center;
	margin-bottom: 80px;
}

.nav-tab-list__item {
	display: inline-block;
}

.nav-tab-list__item.active .nav-tab-list__link{
	color: #f39c12;
}

.nav-tab-list__item:after {
	content: '\\\\';
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	color: #a6a6a6;
	margin: 0 18px;
}

.nav-tab-list__item:last-child:after {
	display: none;
}

.nav-tab-list__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	color: #0d0d0d;
}

.nav-tab-list__link:hover {
	color: #f39c12;
}

.hide {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
}

.tab-cont {
	opacity: 1;	
	transition: opacity 0.4s;
}

.tab-cont.hide {
	opacity: 0;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list__item {
	width: 25%;
	position: relative;
}

.portfolio-list__item:nth-child(2) .portfolio-list__img,
.portfolio-list__item:nth-child(4) .portfolio-list__img,
.portfolio-list__item:nth-child(5) .portfolio-list__img,
.portfolio-list__item:nth-child(7) .portfolio-list__img {
	background-color: #b7b7b7;
}

.portfolio-list__item:hover .portfolio-list__preview {
	display: block;
}

.portfolio-list__item:hover .portfolio-list__img [class*="icon"] {
	display: none;
}

.portfolio-list__item:hover .portfolio-list__title {
	color: #f39c12;
}

.portfolio-list__item:hover .portfolio-list__img {
	background: #fff;
}

.portfolio-list__item:hover .portfolio-list__img img {
	opacity: 0.8;
}

.portfolio-list__link {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 2;
}

.portfolio-list__img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 58px;
	height: 220px;
	background-color: #c7c7c7;
	overflow: hidden;
}

.portfolio-list__img img {
	display: block;
	width: 100%;
	min-height: 100%;
	opacity: 1;
	transition: opacity 0.4s;
}

.portfolio-list__footer {
	padding: 20px 10px;
	text-align: center;
}
	
.portfolio-list__title {
	line-height: 22px;
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.portfolio-list__category {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-list__preview {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 98px;
	height: 98px;
	background: rgba(243, 156, 18, 0.5) url("../img/plus.png") no-repeat center;
	border-radius: 50%; 
	display: none;
	z-index: 3;
}

.portfolio-list__preview:hover {
	background-color: rgba(243, 156, 18, 0.8);
}


/*-----------------------------

			TWEET

-----------------------------*/


.tweet {
	text-align: center;
	margin: 0 auto;
}

.tweet-wrap__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	margin: 0 auto;
}

.tweet-wrap__icon img {
	display: block;
}

.tweet-wrap__text {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;;
	margin: 35px 0 10px;
}

.tweet-wrap__text a {
	color: #f39c12;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
}

.tweet-wrap__text a:hover {
	text-decoration: underline;
}

.tweet-wrap__time {
	color: #808080;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 38px;
}


/*-----------------------------

			BLOG

-----------------------------*/


.blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-list__item {
	width: 555px;
	margin-bottom: 30px;
}

.blog-list__img {
	position: relative;
	height: 300px;
	overflow: hidden;
	background: #b7b7b7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 58px;
}

.blog-list__img:hover .blog-list__title {
	color: #f39c12;
}

.blog-list__img img {
	width: 100%;
	display: block;
	min-height: 300px;
}

.blog-list__link {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
	z-index: 2;
}

.blog-list__header {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: flex-end;
}

.blog-list__title {
	background: #fff;
	padding: 25px 32px 10px 22px;
	transition: color .3s;
}

.blog-list__icon {
	display: flex;
	width: 44px;
	height: 44px;
	background-color: #f39c12;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #fff;
}

.blog-list__footer {
	display: flex;
	padding-top: 23px;
}

.blog-list__date {
	display: block;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: right;
}

.blog-list__date span {
	display: block;
	white-space: nowrap;
}

.blog-list__info {
	padding: 0 17px 40px;
}

.blog-list__info p {
	color: #737373;
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 28px;
}

.blog-list__info .btn {
	height: 35px;
	font-size: 13px;
	font-weight: 700;
	padding-top: 10px 27px 0;
}


/*-----------------------------

			CLIENTS

-----------------------------*/


.clients h2 {
	line-height: 60px;
	color: #fff;
	text-align: center;
	margin-bottom: 55px;
}

.clients-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.clients-list__item a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 257px;
	height: 162px;
	padding: 15px;
	border: 2px solid rgba(255, 255, 255, 0.25);
}

.clients-list__item a:hover {
	border-color: rgba(255, 255, 255, 0.8);
}

.clients-list__item img {
	max-width: 100%;
	display: block;
} 


/*-----------------------------

			CONTACTS

-----------------------------*/


.contact-wrap {
	display: flex;
}

.contact-wrap .contact-form {
	padding-top: 8px;
}

.contact-wrap h6 {
	margin-bottom: 28px;
}

.contact-wrap p {
	margin-bottom: 35px;
}

.contact-wrap__left {
	width: 47%;
}

.contact-wrap__right {
	width: 53%;
	flex-shrink: 47%;
	padding-left: 60px;
}

.contact-list {
	list-style: none;
}

.contact-list__item {
	position: relative;
	padding-left: 50px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.32px;
	color: #0d0d0d;
	margin-bottom: 18px;
}

.contact-list__item a {
	color: #0d0d0d;
}

.contact-list__item a:hover {
	text-decoration: underline;
	color: #f39c12;
}

.contact-list__icon {
	position: absolute;
	left: 0;
	top: -4px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	font-size: 18px;
}


/*-----------------------------

			FORM

-----------------------------*/




